html,body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  body {
    padding-top: 1em;
    text-align: center;
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: space;

  }
  #player{
    background-color: #f9f6f6;
    color: #222;
  }
  #start-button {
    background-color: #f9f6f6;
    color: #222;
    font-style: italic;
  }
  #start {
    display: grid;
    opacity: 1;
    background-color: #222;
    transition: opacity .5s ease-out;
    background-size: cover;
    border-radius: 4rem;
    margin: auto;
    width: 50rem;
  }
  #start-button {
    margin: auto;
    width: 10rem;
  }
  #player{
    text-align: center;
    align-items: center;
    width: 15rem;
    margin: auto;
    height: 3rem;
    font-size: 2rem;
    font-family: 'Games', sans-serif;
  }
  
  h1, h2, h3{
    font-family: 'Games', sans-serif;
    color: #f9f6f6;
    text-align: center;
  }
 
  
  canvas {
    border: solid #222;
    border-radius: 3rem;
    width: 100%;
    height: 500;


  } 
  aside {
    border-radius: 4rem;
  }
  #btm-center, #center, h4{
    font-family: 'Games', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: #f9f6f6;
  }
  #container {
  max-height: 40rem;
  max-width: 50rem;
  margin: 0 auto;
  padding: 1em;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: .33fr .33fr .33fr;
  grid-template-columns: .25fr .5fr .25fr;
  grid-template-areas: "top-left center top-right"
                        "game game game"
                        "btm-left btm-center btm-right";
  opacity: 0;
  transition: opacity .5s ease-in;
  }
  
 #top-left, #top-right, #btm-left, #btm-right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
  }
  #center {
    grid-area: center;
  }
  #top-left {
    grid-area: top-left;
  }
  
  #top-right {
    grid-area: top-right;
  }
  
  main {
    grid-area: game;
  }
  
  
  #btm-left {
    grid-area: btm-left;
  }
  #btm-center {
    grid-area: btm-center;
  }
  
  #btm-right {
    grid-area: btm-right;
  }
  #meatball, #plate1, #plate2{
    opacity: 0;
    transition: opacity, .5s ease-in;
  }